@media (min-width:700px) {
    body {
        align-items: center;
        padding-top: 10vh;
        background-image: url("../assets/images/background-pattern-desktop.svg");
        overflow-y: scroll;
    }

    .card {
        max-width: 600px;
    }

    .card__title {
        font-size: 3.45rem;
    }

    .card__answer {
        font-size: 1rem;
    }

}

@media (max-width:375px) {
    body {
        background-image: url("../assets/images/background-pattern-mobile.svg");
    }

    .card__title {
        font-size: 2rem;
    }

    .card__answer {
        font-size: 0.8rem;
    }

    .card__question {
        font-size: 1.2rem;
    }

}