@media (min-width:700px) {
    body {
        align-items: center;
        padding-top: 21vh;
    }

    .card {
        max-width: 600px;
    }

    .card__title {
        font-size: 3.45rem;
    }

    .card__answer {
        font-size: 1rem;
    }

}